*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
#nav>a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 3px 3px 5px white;
}
#myform{
    height: 90vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myform>form{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 15px red;
    line-height: 40px;
}
#myform>form>label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
}
#myform>form>input{
    border: none;
    border-bottom: 1px solid black;
    height: 25px;
    background-color: azure;
}
#myform>form>button{
    margin-top: 15px;
    width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#userPage{
    height: 90vh;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#profile{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 0px 0px 25px white;
}
#profile>table th,td{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}